<div class="container-fluid rounded border border-primary p-4 bg-info">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Sección De Herramientas De Productos</h4>
        <div class="d-flex">
            <a asp-action="Create" class="btn btn-primary btn-lg mx-2">Crear</a>
        </div>
    </div>
</div>
<table class="table table-dark table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">IdProducto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Producto in Model)
        {
            <tr>
                <td>@Producto.IdProducto</td>
                <td>@Producto.Descripcion</td>
                <td>@Producto.Precio</td>
                <td class="text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex m-auto">
                            <a asp-action="Update" class="btn btn-warning btn mx-2">Modificar</a>
                            <a asp-action="Delete" asp-route-id="@Producto.IdProducto" class="btn btn-danger btn mx-2">Eliminar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>